body {
  color: #fff;
  background-color: #000;
}

a {
  text-decoration: none !important;
  color: #fff;
}

a:hover, a.active {
  color: #79e0ff;
  background-color: rgba(122, 224, 255, 0.15);
}

.main-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 3.5rem;
}

.category-item {
  background-color: transparent !important;
}

.post-item {
  padding: 10px;
}

.post-item a:hover {
  color: #fff;
}

.post-item img {
  width: 100%;
  height: 350px;
  max-height: 350px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.post-item p {
  padding: 0 5px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}