body {
  color: #fff;
  background-color: #000;
}

a {
  text-decoration: none !important;
  color: #fff;
}

a:hover, a.active {
  color: #79e0ff;
  background-color: rgba(122, 224, 255, 0.15);
}

.main-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 6rem;
}

@media screen and (max-width: 992px) {
  .navbar .form-inline {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }

  .navbar .form-inline input.form-control {
    flex-grow: 1;
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.category-item {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  .category-item {
    padding: 10px 5px !important
  }  
}

.post-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255,255,255,0);
  z-index: -1;
  transition: background-color 250ms;
}

.post-item {
  position: relative;
  padding: 10px;
}

.post-item:hover .post-item-overlay {
  background-color: rgba(255,255,255,0.25);
}

.post-item a:hover {
  color: #fff;
}

.post-item img {
  width: 100%;
  height: 350px;
  max-height: 350px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.post-item p {
  margin-bottom: 0;
}

.error-message {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.search-results .list-group-item {
  font-size: 1.2rem;
  text-align: center;
}

.search-results .list-group-item:hover {
  color: #fff;
  background-color: #5a5a5a;
  transition: 250ms;
}

.page-item .page-link {
  cursor: pointer;
  color: #000;
}

.page-item.active .page-link {
  background-color: #4b4b4b !important;
  border-color: #e0e0e0;;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}